/* noto-sans-kr-300 - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/noto-sans-kr-v12-latin_korean-300.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Light"), local("NotoSansKR-Light"), url("../fonts/noto-sans-kr-v12-latin_korean-300.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-kr-v12-latin_korean-300.woff2") format("woff2"), url("../fonts/noto-sans-kr-v12-latin_korean-300.woff") format("woff"), url("../fonts/noto-sans-kr-v12-latin_korean-300.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/* noto-sans-kr-regular - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-kr-v12-latin_korean-regular.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Regular"), local("NotoSansKR-Regular"), url("../fonts/noto-sans-kr-v12-latin_korean-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-kr-v12-latin_korean-regular.woff2") format("woff2"), url("../fonts/noto-sans-kr-v12-latin_korean-regular.woff") format("woff"), url("../fonts/noto-sans-kr-v12-latin_korean-regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/* noto-sans-kr-700 - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto-sans-kr-v12-latin_korean-700.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Bold"), local("NotoSansKR-Bold"), url("../fonts/noto-sans-kr-v12-latin_korean-700.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-kr-v12-latin_korean-700.woff2") format("woff2"), url("../fonts/noto-sans-kr-v12-latin_korean-700.woff") format("woff"), url("../fonts/noto-sans-kr-v12-latin_korean-700.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/* barlow-semi-condensed-regular - latin */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-semi-condensed-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Barlow Semi Condensed Regular"), local("BarlowSemiCondensed-Regular"), url("../fonts/barlow-semi-condensed-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-semi-condensed-v5-latin-regular.woff2") format("woff2"), url("../fonts/barlow-semi-condensed-v5-latin-regular.woff") format("woff"), url("../fonts/barlow-semi-condensed-v5-latin-regular.ttf") format("truetype"); }

/* barlow-semi-condensed-600 - latin */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/barlow-semi-condensed-v5-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Barlow Semi Condensed SemiBold"), local("BarlowSemiCondensed-SemiBold"), url("../fonts/barlow-semi-condensed-v5-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-semi-condensed-v5-latin-600.woff2") format("woff2"), url("../fonts/barlow-semi-condensed-v5-latin-600.woff") format("woff"), url("../fonts/barlow-semi-condensed-v5-latin-600.ttf") format("truetype"); }

/* cormorant-garamond-regular - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cormorant-garamond-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Cormorant Garamond Regular"), local("CormorantGaramond-Regular"), url("../fonts/cormorant-garamond-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant-garamond-v7-latin-regular.woff2") format("woff2"), url("../fonts/cormorant-garamond-v7-latin-regular.woff") format("woff"), url("../fonts/cormorant-garamond-v7-latin-regular.ttf") format("truetype"); }

/* cormorant-garamond-700 - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cormorant-garamond-v7-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Cormorant Garamond Bold"), local("CormorantGaramond-Bold"), url("../fonts/cormorant-garamond-v7-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant-garamond-v7-latin-700.woff2") format("woff2"), url("../fonts/cormorant-garamond-v7-latin-700.woff") format("woff"), url("../fonts/cormorant-garamond-v7-latin-700.ttf") format("truetype"); }
