@import url(fonts.css);
/* _variables.scss */
/* _mixins.scss */
/* _reset.scss */
@import url(common/animation.css);
html, body, ul, p, h1, h2, h3, h4, h5, button { margin: 0; padding: 0; }

ul, li { list-style: none; }

a { color: inherit; text-decoration: none; outline: none; }

button { display: block; border: 0; background: transparent; color: inherit; cursor: pointer; outline: 0; }

:lang(en) { line-height: 1.2; }

@media screen and (max-width: 1024px) { :lang(en) { line-height: 1; } }

/* global style */
* { letter-spacing: -1px; word-break: keep-all; }

body { overflow-x: hidden; font-size: 17px; font-family: 'Cormorant Garamond', 'Noto Sans KR'; color: #000; }

@media screen and (min-width: 1025px) { body { overflow: hidden; -ms-overflow-style: none; scrollbar-width: none; } }

@media screen and (min-width: 1025px) { body::-webkit-scrollbar { display: none; } }

.multicol { column-count: 2; }

@media screen and (max-width: 1024px) { .img-pc { display: none !important; } }

@media screen and (min-width: 1025px) { .img-mo { display: none !important; } }

/* header */
.header { position: fixed; z-index: 20; width: 100%; height: 120px; line-height: 120px; color: #fff; }

@media screen and (max-width: 1024px) { .header { background: #fff; } }

@media screen and (max-width: 767px) { .header { position: absolute; height: 80px; line-height: 80px; background: transparent; } }

.header__container { max-width: 1860px; height: 100%; margin: 0 auto; padding: 0 50px; box-sizing: border-box; }

.header__container:after { display: block; clear: both; content: ''; }

@media screen and (max-width: 1860px) { .header__container { padding: 0 30px; } }

@media screen and (max-width: 767px) { .header__container { max-width: 90%; margin: 0 4% 0 6%; padding: 0; } }

.header__logo { float: left; }

.header__nav { display: block; float: right; margin-right: 60px; }

@media screen and (max-width: 1860px) { .header__nav { margin-right: 10px; } }

@media screen and (max-width: 767px) { .header__nav { display: none; } }

.header__gnb { padding-right: 100px; }

.header__gnb:after { display: block; clear: both; content: ''; }

@media screen and (max-width: 1280px) { .header__gnb { padding-right: 0; } }

.header__lnb { display: none; position: absolute; top: calc(100% - 15px); left: 0; width: 208px; background: #fff; line-height: normal; }

.header__ham { float: right; z-index: 10; margin-top: 30px; }

@media screen and (max-width: 767px) { .header__ham { margin-top: 15px; } }

.logo__img { vertical-align: middle; }

@media screen and (max-width: 989px) { .logo__img { width: 200px; } }

.logo__img--mo { width: 165px; }

@media screen and (max-width: 1024px) { .gnb { color: #4b4b4b; } }

@media screen and (max-width: 989px) { .gnb { font-size: 15px; } }

.gnb--color-bk .gnb__link { color: #4b4b4b; transition: none; }

.gnb__item { position: relative; float: left; padding: 0 30px; font-weight: 700; font-family: 'Noto Sans KR', sans-serif; cursor: pointer; }

@media screen and (max-width: 1280px) { .gnb__item { padding: 0 20px; } }

@media screen and (max-width: 989px) { .gnb__item { padding: 0 10px; } }

.gnb__item:hover .gnb__link { color: #ffb500; }

.gnb__item:hover .gnb__link:after { display: block; position: absolute; top: 100%; left: 0; width: 100%; height: 2px; background: #ffb500; content: ''; animation: fullWidth 0.5s; }

.gnb__item:hover .header__lnb { display: block; }

.gnb__link { position: relative; transition: color 0.5s; }

.lnb__link { display: block; padding: 8px 15px; font-weight: 400; font-size: 15px; color: #4b4b4b; }

.lnb__link:hover { color: #fff; background: #ffb500; }

.ham { width: 60px; height: 60px; border-radius: 50%; background-color: #fff; display: block; position: relative; overflow: hidden; box-shadow: 4px 0px 13px 0px rgba(0, 0, 0, 0.08); transform: rotateZ(0); transition: 0.5s; }

@media screen and (max-width: 767px) { .ham { width: 50px; height: 50px; border-radius: 50%; background-color: #fff; } }

.ham.active { background-color: #ffb500; transform: rotateZ(180deg); transition: 0.5s; }

.ham.active .ham__bars { background: #fff; }

.ham.active .ham__bars:nth-child(1) { top: 0; }

.ham.active .ham__bars:nth-child(2) { transform: translate(-50%, -50%) rotateZ(45deg); }

.ham.active .ham__bars:nth-child(3) { transform: translate(-50%, -50%) rotateZ(-45deg); }

.ham.active .ham__bars:nth-child(4) { top: 100%; }

.ham__bars { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; width: 20px; height: 2px; background-color: #004bba; transition: 0.5s 0.1s ease-out; }

@media screen and (max-width: 1024px) { .ham__bars { width: 17px; } }

.ham__bars:first-child { margin-top: -7px; }

.ham__bars:last-child { margin-top: 7px; }

.fullnav { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #004bba; font-size: 20px; line-height: normal; }

@media screen and (max-width: 1365px) { .fullnav { font-size: 18px; } }

@media screen and (max-width: 989px) { .fullnav { overflow-y: scroll; -ms-overflow-style: auto; scrollbar-width: auto; }
  .fullnav body::-webkit-scrollbar { display: block; } }

.fullnav.show { display: block; }

@media screen and (max-width: 989px) { .fullnav__container { padding: 20px; } }

.fullnav__logo { display: none; padding-bottom: 20px; }

@media screen and (max-width: 989px) { .fullnav__logo { display: block; } }

.fullnav__menu { padding-right: 23%; }

.fullnav__menu:after { display: block; clear: both; content: ''; }

@media screen and (max-width: 989px) { .fullnav__menu { padding-right: 0; } }

.fullnav__content { float: left; width: 33.33%; height: 50vh; padding: 80px; border-bottom: 1px solid rgba(255, 255, 255, 0.1); box-sizing: border-box; transition: padding 0.5s; }

@media screen and (max-width: 1860px) { .fullnav__content { padding: 80px 40px; } }

@media screen and (max-width: 1365px) { .fullnav__content { padding: 50px 30px; } }

@media screen and (max-width: 1160px) { .fullnav__content { padding: 30px 15px; } }

@media screen and (max-width: 989px) { .fullnav__content { float: none; overflow: hidden; width: 100%; height: auto; padding: 0; }
  .fullnav__content.active { height: 100%; }
  .fullnav__content.active .fullnav__list { max-height: 100px; }
  .fullnav__content.active .fullnav__menu-tit { color: #ffb500; } }

@media screen and (min-width: 989px) { .fullnav__content:not(:nth-child(3n)) { border-right: 1px solid rgba(255, 255, 255, 0.1); }
  .fullnav__content:hover { background: #ffb500; }
  .fullnav__content:hover .fullnav__menu-tit { position: relative; }
  .fullnav__content:hover .fullnav__menu-tit:after { display: block; position: absolute; top: 100%; left: 0; width: 100%; height: 2px; background: #fff; content: ''; animation: fullWidth 0.5s; }
  .fullnav__content:hover .fullnav__item { opacity: 0.6; transition: 0.5s; }
  .fullnav__content:hover .fullnav__item:hover { opacity: 1; } }

.fullnav__content:hover .fullnav__item { opacity: 0.6; transition: 0.5s; }

.fullnav__content:hover .fullnav__item:hover { opacity: 1; }

@media screen and (max-width: 989px) { .fullnav__franchise { border-bottom: none; } }

@media screen and (max-width: 989px) { .fullnav__find { display: none; } }

.fullnav__menu-tit { display: inline-block; position: relative; margin-bottom: 25px; font-size: 50px; letter-spacing: 0; cursor: text; transition: 0.5s; }

@media screen and (max-width: 1365px) { .fullnav__menu-tit { margin-bottom: 15px; font-size: 42px; } }

@media screen and (max-width: 1024px) { .fullnav__menu-tit { margin-bottom: 10px; } }

@media screen and (max-width: 989px) { .fullnav__menu-tit { margin: 5px 6px 0; font-weight: 700; font-size: 38px; cursor: default; } }

@media screen and (max-width: 600px) { .fullnav__menu-tit { font-weight: 700; font-size: 34px; } }

.fullnav__auntie { pointer-events: none; }

@media screen and (max-width: 989px) { .fullnav__auntie { pointer-events: auto; } }

.fullnav__list { font-family: 'Noto Sans KR', sans-serif; transition: 0.5s; }

@media screen and (max-width: 989px) { .fullnav__list { max-height: 0; font-size: 18px; }
  .fullnav__list.multicol { column-count: 1; } }

@media screen and (max-width: 600px) { .fullnav__list { font-size: 13px; } }

.fullnav__item { padding: 5px 0; }

@media screen and (max-width: 989px) { .fullnav__item { display: inline-block; padding-right: 25px; } }

@media screen and (max-width: 600px) { .fullnav__item { padding-right: 15px; } }

.fullnav__quickmenu { display: none; width: 100%; margin: 15px 0; border: 1px solid rgba(255, 255, 255, 0.1); font-size: 18px; text-align: center; }

@media screen and (max-width: 989px) { .fullnav__quickmenu { display: table; table-layout: fixed; } }

.fullnav__quickmenu:hover .fullnav__quickitem { opacity: 0.6; transition: 0.5s; }

.fullnav__quickmenu:hover .fullnav__quickitem:hover { opacity: 1; }

.fullnav__quickitem { display: table-cell; width: 25%; }

.fullnav__quickitem:not(:last-child) { border-right: 1px solid rgba(255, 255, 255, 0.1); }

@media screen and (max-width: 600px) { .fullnav__quickitem { font-size: 13px; } }

@media screen and (max-width: 350px) { .fullnav__quickitem { font-size: 12px; } }

.fullnav__quicklink { display: block; padding: 15px 0; }

.fullnav__quickicon { display: block; margin: 0 auto 5px; }

.fullnav__side { position: absolute; top: 0; right: 0; width: 23%; height: 100%; background: url(../images/main/bg_nav.jpg) no-repeat 50% 0; background-size: cover; font-weight: 300; }

@media screen and (max-width: 989px) { .fullnav__side { position: static; width: 100%; background: none; } }

.fullnav__info { position: absolute; bottom: 40px; left: 50px; padding-right: 20px; line-height: 1.8; }

@media screen and (max-width: 1365px) { .fullnav__info { bottom: 20px; left: 17px; } }

@media screen and (max-width: 989px) { .fullnav__info { position: static; padding: 0; } }

.fullnav__address { font-family: 'Noto Sans KR', sans-serif; font-size: 16px; }

@media screen and (max-width: 600px) { .fullnav__address { font-size: 12px; } }

.fullnav__contact { font-family: 'Barlow', sans-serif; font-size: 18px; }

@media screen and (max-width: 1024px) { .fullnav__contact { font-size: 16px; } }

@media screen and (max-width: 600px) { .fullnav__contact { font-size: 12px; } }

.fullnav__info-tit { position: relative; font-size: 27px; font-family: 'Cormorant Garamond', serif; letter-spacing: 0; }

@media screen and (max-width: 989px) { .fullnav__info-tit { font-weight: 700; font-size: 22px; } }

@media screen and (max-width: 600px) { .fullnav__info-tit { font-weight: 700; font-size: 16px; } }

.fullnav__info-tit:after { display: block; position: absolute; top: 100%; left: 0; width: 40px; height: 1px; background: rgba(255, 255, 255, 0.7); content: ''; animation: 0.5s; }

@media screen and (max-width: 989px) { .fullnav__info-tit:after { top: 50%; left: 100%; width: 1px; height: 15px; margin-left: 15px; transform: translateY(-50%); } }

@media screen and (max-width: 350px) { .fullnav__info-tit:after { margin-left: 5px; } }

.fullnav__info-desc { margin: 0.85em 0; }

@media screen and (max-width: 989px) { .fullnav__info-desc { display: inline-block; margin: 0.25em 0 0.25em 30px; vertical-align: top; } }

@media screen and (max-width: 350px) { .fullnav__info-desc { margin-left: 8px; } }

.fullnav__sns { margin-top: 20px; }

.sns { display: inline-block; }

.sns:after { display: block; clear: both; content: ''; }

.sns__item { float: left; margin: 0 5px; }

@media screen and (max-width: 989px) { .sns__item { margin: 0 15px; } }

@media screen and (max-width: 600px) { .sns__item { margin: 0 10px; } }

.sns__item:first-child { margin-left: 0; }

.popup { display: none; position: fixed; width: 100%; height: 100%; z-index: 100; background: rgba(0, 0, 0, 0.5); }

.touch .popup { display: none; }

.popup.hide { animation: fadeOut 0.5s forwards; }

.popup__content { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: inline-block; }

@media screen and (max-width: 1024px) { .popup__content { width: 90%; } }

.popup__link { display: block; }

.popup__img { display: block; max-width: 1024px; width: 100%; height: 100%; }

.popup__control { position: relative; margin-top: 10px; color: #fff; }

.popup__control:after { display: block; clear: both; content: ''; }

.popup__btn { float: left; }

.popup__today-close { overflow: visible; padding-left: 20px; }

.popup__close-txt { display: block; position: relative; font-size: 14px; line-height: 38px; }

.popup__close-txt:after { position: absolute; width: 14px; height: 14px; padding: 2px 0 0 4px; content: url(../images/common/icon_btn-close_s.png); }

.popup__close { position: absolute; right: 0; }

.scroll-to-top { display: none; position: fixed; right: 50px; bottom: 50px; z-index: 50; animation-duration: 0.5s; animation-fill-mode: forwards; }

.scroll-to-top.show { display: block; }

.scroll-to-top__btn { width: 80px; height: 80px; border-radius: 50%; background-color: #fff; box-shadow: 4px 6px 40px rgba(0, 0, 0, 0.15); }

.scroll-to-top__txt { font-weight: 700; font-size: 16px; font-family: 'Barlow', sans-serif; color: #ffb500; letter-spacing: 1px; }

.scroll-to-top__txt:before { display: block; width: 21px; height: 11px; margin: 0 auto 7px; background: url(../images/common/icon_btn-top.png) no-repeat 50% 50%; background-size: 100%; content: ''; }

@media screen and (max-width: 1024px) { .container { max-width: 750px; margin: 0 auto; } }

/* scroll navigation */
.scrollnav { position: fixed; top: 50%; left: 0; z-index: 10; font-size: 14px; font-family: 'Barlow', sans-serif; transform: translateY(-50%); }

@media screen and (max-width: 1024px) { .scrollnav { display: none; } }

/* main */
.main { position: relative; height: 100vh; }

@media screen and (max-width: 1024px) { .main { height: 100%; padding-top: 120px; } }

@media screen and (max-width: 767px) { .main { padding-top: 0; } }

.main__quickmenu { position: absolute; top: 50%; right: 0; z-index: 10; margin-right: 4%; transform: translateY(-50%); }

@media screen and (max-width: 1559px) { .main__quickmenu { margin-right: 2%; } }

.main__slideshow { position: relative; overflow: hidden; }

.main__slider { position: relative; height: 100vh; background: #005ad5; }

@media screen and (max-width: 1024px) { .main__slider { display: none; } }

.main__mo-slider { display: none; transition: transform 0.5s; }

@media screen and (max-width: 1024px) { .main__mo-slider { display: block; } }

.main__slide { position: absolute; top: 0; left: 0; width: 100%; height: 100vh; }

.main__slide:after { display: block; clear: both; content: ''; }

@media screen and (max-width: 1024px) { .main__slide { height: 100%; } }

.main__slide.active { z-index: 2; }

.main__slide.active .main__product, .main__slide.active .main__content { display: block; animation: fadeIn 0.5s; }

.main__product { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none; z-index: 10; }

@media screen and (max-width: 1860px) { .main__product { max-width: 300px; } }

@media screen and (max-width: 1024px) { .main__product { display: block; top: auto; right: 5px; bottom: 0; left: auto; max-width: 100%; width: 60%; transform: none; } }

.main__item { width: 100%; }

.main .img-ani { animation: rotateZ 2s infinite alternate; }

.main__bg { float: left; width: 50%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0; animation-duration: 0.5s; animation-fill-mode: forwards; }

@media screen and (max-width: 1024px) { .main__bg { width: 100%; } }

.main__img { position: absolute; top: -9999px; left: -9999px; right: -9999px; bottom: -9999px; margin: auto; }

@media screen and (max-width: 1024px) { .main__img { position: static; width: 100%; } }

.main__content { float: left; width: 50%; height: 100%; display: none; position: relative; }

@media screen and (max-width: 1024px) { .main__content { width: 95%; } }

.main__txt { position: absolute; top: 50%; left: 100%; width: 100%; padding: 0 150px 0 220px; font-weight: 700; color: #fff; box-sizing: border-box; transform: translateY(-50%); }

@media screen and (max-width: 1860px) { .main__txt { padding: 0 100px 0 150px; } }

@media screen and (max-width: 1024px) { .main__txt { top: 0; left: 0; padding: 80px 0 0 50px; line-height: 1.2; transform: none; } }

@media screen and (max-width: 550px) { .main__txt { padding: 100px 0 0 30px; } }

.main__subtit { font-size: 28px; letter-spacing: normal; }

@media screen and (max-width: 1280px) { .main__subtit { font-size: 18px; } }

@media screen and (max-width: 1024px) { .main__subtit { display: none !important; } }

.main__tit { font-size: 67px; color: #ffb500; letter-spacing: normal; animation-delay: 0.5s; transition: 0.5s; }

@media screen and (max-width: 1860px) { .main__tit { font-size: 56px; } }

@media screen and (max-width: 1280px) { .main__tit { font-size: 42px; } }

@media screen and (max-width: 1024px) { .main__tit { font-size: 50px; } }

@media screen and (max-width: 550px) { .main__tit { font-size: 28px; } }

.main__tit > span:lang(en) { font-size: 1.25em; }

@media screen and (max-width: 550px) { .main__tit > span:lang(en) { font-size: 48px; } }

.main__tag { padding: 20px 0 50px; font-weight: 300; font-size: 18px; font-family: 'Noto Sans KR', sans-serif; color: #ffb500; animation-delay: 1s; }

@media screen and (max-width: 1280px) { .main__tag { font-size: 14px; } }

@media screen and (max-width: 1024px) { .main__tag { font-size: 16px; color: #fff; } }

@media screen and (max-width: 600px) { .main__tag { font-size: 14px; } }

.main__more { opacity: 0; animation: fadeIn 0.8s 1s forwards; }

@media screen and (max-width: 1024px) { .main__more { display: none; } }

.main__control { position: absolute; bottom: 0; left: 50%; z-index: 10; transform: translateX(-50%); }

.main__control:after { display: block; clear: both; content: ''; }

@media screen and (max-width: 1024px) { .main__control { display: none; } }

.main__page { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 60px; height: 60px; border-radius: 50%; background-color: #005ad5; top: 0; z-index: 10; border: 3px solid #fff; font-size: 28px; line-height: 58px; font-family: 'Barlow Semi Condensed', sans-serif; color: #fff; text-align: center; }

.main__btn { float: left; z-index: 10; opacity: 0.5; }

.main__btn:hover { opacity: 1; }

.main__btn-img { display: block; }

.main__mo-control { display: none; }

@media screen and (max-width: 1024px) { .main__mo-control { display: block; } }

.main__mo-pages { position: absolute; top: 320px; left: 50px; z-index: 10; }

@media screen and (max-width: 600px) { .main__mo-pages { top: 280px; } }

@media screen and (max-width: 550px) { .main__mo-pages { left: 30px; } }

.main__mo-page { display: inline-block; width: 50px; height: 50px; font-size: 20px; color: #fff; }

.main__mo-page.active { color: #ffb500; background: url(../images/common/icon_circle-white.png) no-repeat; background-size: 50px 50px; }

.main__mo-slide-btn { position: absolute; left: 0; bottom: 100px; z-index: 10; }

.main__mo-slide-btn:after { display: block; clear: both; content: ''; }

.main__mo-btn { width: 60px; height: 60px; font-size: 35px; font-family: 'Barlow Semi Condensed', sans-serif; }

.main__mo-btn.prev { float: left; color: #005ad5; background: #fff; }

.main__mo-btn.next { float: left; color: #fff; background: #005ad5; }

.txt-hidden { overflow: hidden; }

.txt-ani { display: block; animation: txtAni 2s; }

.more-btn__icon { width: 50px; height: 50px; border-radius: 50%; background-color: rgba(227, 227, 227, 0.5); display: inline-block; position: relative; vertical-align: middle; animation-duration: 0.5s; animation-fill-mode: forwards; }

@media screen and (max-width: 1280px) { .more-btn__icon { width: 34px; height: 34px; } }

.more-btn__icon:before { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; width: 62px; height: 62px; background: url(../images/common/icon_circle-blue.png) no-repeat; background-size: cover; content: ''; }

@media screen and (max-width: 1280px) { .more-btn__icon:before { width: 45px; height: 45px; } }

.more-btn__icon:after { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; width: 20px; height: 20px; background: url(../images/common/icon_plus-black.png) no-repeat 50% 50%; content: ''; transition: 0.5s; }

@media screen and (max-width: 1280px) { .more-btn__icon:after { background-size: 16px 16px; } }

.more-btn__icon:hover:after { transform: translate(-50%, -50%) rotateZ(90deg); }

.more-btn__txt { margin-left: 20px; font-weight: 700; font-family: 'Barlow Semi Condensed', sans-serif; color: #005ad5; letter-spacing: normal; vertical-align: middle; }

.more-btn--theme-wt .more-btn__icon { background: rgba(255, 255, 255, 0.5); }

.more-btn--theme-wt .more-btn__icon:before { background-image: url(../images/common/icon_circle-white.png); }

.more-btn--theme-wt .more-btn__icon:after { background-image: url(../images/common/icon_plus-white.png); }

.more-btn--theme-wt .more-btn__txt { color: #fff; }

.scrollnav { left: 70px; color: #fff; opacity: 1; transtion: opacity 0.5s; }

@media screen and (max-width: 1559px) { .scrollnav { left: 30px; } }

.scrollnav__item { margin: 8px 0; }

.scrollnav__link { width: 9px; height: 9px; border-radius: 50%; background-color: transparent; display: inline-block; margin-right: 15px; border: 1px solid #fff; vertical-align: middle; }

.scrollnav__link.active { background: #fff; }

.scrollnav__link.active + .scrollnav__txt { display: inline; }

.scrollnav__txt { display: none; }

.scrollnav--color-bk { color: #000; }

.scrollnav--color-bk .scrollnav__link { border-color: #b9b9b9; }

.scrollnav--color-bk .scrollnav__link.active { border-color: #000; background: #000; }

.quickmenu { font-size: 14px; color: #fff; text-align: center; }

@media screen and (max-width: 1024px) { .quickmenu { display: none; } }

.quickmenu__item { margin: 10px 0; }

.quickmenu__link { display: block; }

.quickmenu__link:hover .quickmenu__icon { background: #ffb500; }

.quickmenu__icon { width: 34px; height: 34px; border-radius: 50%; background-color: #004bba; padding: 13px; box-shadow: 10px 0px 7px 0px rgba(0, 0, 0, 0.08); transition: 0.2s; }

.title { font-weight: 700; font-size: 60px; color: #005ad5; }

@media screen and (max-width: 1365px) { .title { font-size: 52px; } }

@media screen and (max-width: 1024px) { .title { font-size: 45px; } }

@media screen and (max-width: 767px) { .title { font-size: 34px; } }

.menu { position: relative; overflow: hidden; height: 100vh; }

.menu:after { display: block; clear: both; content: ''; }

@media screen and (max-width: 1024px) { .menu { height: 100%; } }

.menu:before { display: block; z-index: -10; width: 383px; height: 383px; content: url(../images/common/img_text-animation.png); animation: rotate360 15s linear infinite; position: absolute; top: -140px; right: -120px; }

.touch .menu:before { display: none; }

.menu__container { width: 100%; height: 100%; box-sizing: border-box; }

@media screen and (max-width: 1160px) { .menu__container { padding: 0 20px; } }

@media screen and (max-width: 1024px) { .menu__container { display: none; padding-top: 80px; } }

.menu__container:before { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; width: 100%; font-weight: 700; font-size: 180px; color: rgba(0, 0, 0, 0.03); text-align: center; content: "Auntie Anne's"; }

.menu__slideshow { position: relative; overflow: hidden; width: 100%; height: 100%; max-width: 1600px; margin: 0 auto; padding-top: 120px; box-sizing: border-box; }

.menu__slider { position: relative; left: 0; width: 100%; height: 90%; transition: left 0.5s ease-in-out; }

.menu__slide { position: absolute; left: 0; width: 100%; height: 100%; box-sizing: border-box; }

.menu__slide:nth-of-type(2) { left: 100%; }

.menu__item { float: left; width: 33.33333%; height: 100%; position: relative; height: auto; margin-top: -50px; }

.menu__item:nth-child(2n) { right: 90px; margin-top: 10%; }

.menu__item:nth-child(2n) .menu__img { animation-name: rotateLeft; }

.menu__item:nth-child(3n) { margin-top: -70px; }

.menu__item:nth-child(3n) .menu__img-box { right: 100px; }

.menu__item:nth-child(3n) .menu__txt { margin-right: 70px; }

.menu__item:hover .menu__img--hover { opacity: 1; }

.menu__tit { text-align: center; }

.menu__link { display: block; position: relative; }

.menu__link:before { display: block; position: absolute; width: 100%; height: 100%; background: url(../images/common/bg_product_hover.png) no-repeat; background-size: contain; content: ''; opacity: 0; transform: scale(0); transition: 0.3s; }

@media screen and (max-width: 1024px) { .menu__link:before { width: 300px; height: 300px; margin: 0 auto; right: 0; left: 0; } }

.menu__link:hover:before { opacity: 1; transform: scale(1); }

.menu__img-box { position: relative; transition: 0.5s; }

.menu__img { position: relative; max-width: 100%; animation: rotateRight 2s infinite alternate; }

.menu__img--hover { position: absolute; top: 0; left: 0; opacity: 0; transition: opacity 0.5s; }

.menu__txt { position: absolute; top: 50%; right: 0; margin-right: -80px; font-family: 'Noto Sans KR', sans-serif; transform: translateY(-50%); }

.menu__name { font-size: 30px; }

@media screen and (max-width: 1160px) { .menu__name { font-size: 25px; } }

@media screen and (max-width: 600px) { .menu__name { font-size: 22px; } }

@media screen and (max-width: 500px) { .menu__name { font-size: 20px; } }

.menu__desc { margin: 0.85em 0; font-size: 17px; color: #777; }

@media screen and (max-width: 1160px) { .menu__desc { font-size: 15px; } }

@media screen and (max-width: 500px) { .menu__desc { font-size: 14px; } }

.menu__btn { position: absolute; top: 50%; right: 60px; transform: rotateZ(180deg); }

@media screen and (max-width: 1160px) { .menu__btn { right: 20px; } }

.menu__btn.next { transform: rotateZ(0); }

.menu__btn-img { display: block; }

.menu__mo-slideshow { display: none; padding-bottom: 50px; }

@media screen and (max-width: 1024px) { .menu__mo-slideshow { display: block; } }

.menu__mo-slider { padding-top: 20px; }

.menu__mo-item:nth-child(2n) .menu__mo-img { display: block; margin-left: auto; }

.menu__mo-item:nth-child(2n) .menu__mo-txt { right: auto; left: 80px; }

@media screen and (max-width: 500px) { .menu__mo-item:nth-child(2n) .menu__mo-txt { left: 75px; } }

@media screen and (max-width: 380px) { .menu__mo-item:nth-child(2n) .menu__mo-txt { left: 55px; } }

.menu__mo-img { animation: rotateRight 2s infinite alternate; }

@media screen and (max-width: 600px) { .menu__mo-img { width: 350px; } }

@media screen and (max-width: 500px) { .menu__mo-img { width: 250px; } }

.menu__mo-txt { position: absolute; top: 50%; right: 50px; transform: translateY(-50%); }

@media screen and (max-width: 500px) { .menu__mo-txt { right: 45px; } }

@media screen and (max-width: 380px) { .menu__mo-txt { right: 30px; } }

.menu .slick-dots { text-align: center; }

.menu .slick-dots > li { display: inline-block; }

.menu .slick-dot { display: inline-block; width: 13px; height: 13px; margin: 8px; border: 1px solid #ffb700; border-radius: 50%; text-indent: -9999em; opacity: 0.6; transition: 0.3s; }

.menu .slick-active .slick-dot { background: #ffb700; opacity: 0.8; }

.community { height: 100vh; color: #fff; text-align: center; }

.community:after { display: block; clear: both; content: ''; }

@media screen and (max-width: 1024px) { .community { height: 100%; } }

.community__content { float: left; width: 33.33333%; height: 100%; position: relative; }

@media screen and (max-width: 1024px) { .community__content { float: none; width: 100%; } }

.community__bg { display: block; width: 100%; height: 100%; }

.community__txt { display: table; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; min-height: 100%; transition: 0.3s; table-layout: fixed; }

.touch .community__txt { background: rgba(0, 0, 0, 0.3); }

.community__txt:hover { background: rgba(0, 0, 0, 0.3); }

.community__link { display: table-cell; height: 100%; min-height: 100%; padding: 25px; vertical-align: middle; box-sizing: border-box; }

.community__tit { font-size: 46px; }

@media screen and (max-width: 989px) { .community__tit { font-size: 38px; } }

@media screen and (max-width: 1024px) { .community__tit { font-size: 50px; } }

@media screen and (max-width: 500px) { .community__tit { font-size: 24px; } }

.community__desc { margin: 0.85em 0; font-size: 18px; color: #e5e5e5; }

@media screen and (max-width: 989px) { .community__desc { font-size: 15px; } }

@media screen and (max-width: 1024px) { .community__desc { font-size: 20px; } }

@media screen and (max-width: 500px) { .community__desc { font-size: 14px; } }

.franchise { height: 100vh; }

@media screen and (max-width: 1024px) { .franchise { height: 100%; } }

.franchise__container { display: table; height: 100%; max-width: 1415px; margin: 0 auto; padding: 0 20px; transition: 0.5s; }

@media screen and (max-width: 1160px) { .franchise__container { padding: 0 0 0 50px; } }

@media screen and (max-width: 1024px) { .franchise__container { padding: 80px 20px; text-align: center; } }

.franchise__col { display: table-cell; vertical-align: middle; }

@media screen and (max-width: 1024px) { .franchise__col { display: block; } }

.franchise__tit { line-height: 1; }

.franchise__txt { width: 30%; padding-right: 30px; }

@media screen and (max-width: 1024px) { .franchise__txt { width: 100%; } }

.franchise__desc { margin: 20px 0 60px 0; font-size: 22px; }

@media screen and (max-width: 1024px) { .franchise__desc { font-size: 18px; } }

@media screen and (max-width: 600px) { .franchise__desc { margin-bottom: 30px; } }

@media screen and (max-width: 500px) { .franchise__desc { font-size: 16px; } }

@media screen and (max-width: 1024px) { .franchise__enter { display: none; } }

@media screen and (max-width: 1024px) { .franchise__more { display: none; } }

.franchise__bg { position: relative; margin-right: 80px; }

@media screen and (max-width: 989px) { .franchise__bg { margin-right: 0; } }

@media screen and (max-width: 1024px) { .franchise__bg { margin: 0 auto; padding: 0; } }

.franchise__bg:before { display: block; z-index: -10; width: 383px; height: 383px; content: url(../images/common/img_text-animation.png); animation: rotate360 15s linear infinite; position: absolute; top: -130px; left: -100px; }

.touch .franchise__bg:before { display: none; }

.franchise__bg:after { position: absolute; right: -80px; bottom: -45px; display: block; z-index: -10; width: 55%; height: 85%; background: #005ad5; content: ''; animation: moveBox 2s ease-out; transition: bottom 2s; }

@media screen and (max-width: 1160px) { .franchise__bg:after { bottom: -75px; } }

@media screen and (max-width: 1024px) { .franchise__bg:after { right: -35px; bottom: -20px; } }

.franchise__img { display: block; width: 100%; }

@media screen and (max-width: 989px) { .franchise__img { max-width: 500px; margin-left: auto; } }

@media screen and (max-width: 1024px) { .franchise__img { width: 100%; max-width: 680px; margin: 0; } }

.franchise__more--mo { display: none; padding-top: 65px; }

@media screen and (max-width: 1024px) { .franchise__more--mo { display: block; } }

.flat-btn { display: inline-block; width: 190px; height: 50px; border-radius: 25px; background: #ffb500; line-height: 50px; color: #fff; }

.flat-btn__arrow:after { display: inline-block; width: 19px; height: 13px; padding-left: 10px; content: url(../images/common/icon_btn-arrow.png); }

.footer { font-family: 'Noto Sans KR', sans-serif; color: #fff; text-align: center; letter-spacing: -1px; }

@media screen and (max-width: 1024px) { .footer { font-weight: 300; } }

.footer__content { padding: 30px 30px 10px; background: #005ad5; }

@media screen and (max-width: 500px) { .footer__content { padding: 38px 30px; } }

.footer__logo { margin-bottom: 20px; }

@media screen and (max-width: 500px) { .footer__logo { width: 190px; } }

.footer__info { font-size: 16px; }

@media screen and (max-width: 500px) { .footer__info { font-size: 14px; } }

@media screen and (max-width: 1024px) { .footer__company { display: block; } }

.footer__contact { display: inline-block; margin: 5px 10px; }

@media screen and (max-width: 500px) { .footer__contact { margin: 5px 3px; } }

.footer__link { display: inline-block; width: 145px; height: 40px; margin: 15px 5px 0; border: 1px solid rgba(255, 255, 255, 0.5); font-size: 13px; line-height: 40px; box-sizing: border-box; transition: 0.5s; }

@media screen and (max-width: 1024px) { .footer__link { width: 150px; height: 45px; line-height: 45px; } }

@media screen and (max-width: 600px) { .footer__link { margin: 15px 3px 0; } }

.footer__sns { margin-top: 15px; }

.footer__copyright { padding: 15px 0; background: #ffb500; font-size: 13px; font-family: 'Barlow', sans-serif; letter-spacing: normal; }

@media screen and (max-width: 500px) { .footer__copyright { font-size: 12px; } }
