@charset "utf-8";
/* _reset.scss */

html, body, ul, p, h1, h2, h3, h4, h5, button {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    display: block;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: 0;
}