@charset "utf-8";
/* _variables.scss */

$G-color-primary: #005ad5;
$G-color-primary-dark: #004bba;
$G-color-secondary: #ffb500;
$G-time: 0.5s;
$G-time-slow: 2s;
$header-size: (
    default: 120px,
    mobile: 80px
);
$ham-size: (
    default: 60px,
    mobile: 50px
);
$breakpoints: (
    desktop: 1860px,
    desktop-l: 1559px,
    desktop-m: 1365px,
    desktop-s: 1280px,
    desktop-xs: 1160px,
    tablet: 1024px,
    tablet-s: 989px,
    mobile: 767px,
    mobile-xl: 600px,
    mobile-l: 550px,
    mobile-m: 500px, //539
    mobile-s: 380px,
    mobile-xs: 350px
);