@keyframes fullWidth {
    0% { width: 0; }
    100% { width: 100%; }
}

@keyframes rotateZ {
    0% { transform: rotateZ(-3deg); }
    100% { transform: rotateZ(3deg); }
}

@keyframes rotateLeft {
    0% { transform: rotateZ(0); }
    100% { transform: rotateZ(-3deg); }
}

@keyframes rotateRight {
    0% { transform: rotateZ(0); }
    100% { transform: rotateZ(3deg); }
}

@keyframes btnScaleUp {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}

@keyframes btnScaleDown {
    0% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes moveBox {
    0% { right: -40px; bottom: -5px; opacity: 0; }
    100% { right: -80px; bottom: -45px; opacity: 1; }
}

@keyframes hamAni {
    0% { transform: translate(-50%, -50%); }
    100% { transform: translate(-50%, -50%) rotateZ(180deg); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes slideToTop {
    0% { top: 100%; }
    100% { top: 0; }
}

@keyframes slideToBottom {
    0% { top: -100%; }
    100% { top: 0; }
} 

@keyframes txtAni {
    0% { opacity: 0; transform: translate3d(0, -100%, 0); }
    100% { opacity: 1; transform: translate3d(0, 0, 0); }
}